footer.footer
    .container
        .footer__wrapper
            .footer__cols
                .footer__col._w16
                    a.footer__list-title(href="index.html") Каталог
                        span.arrow-triangle._down
                    ul.footer__list
                        li
                            a(href="catalog.html") Разделочные и туристические ножи
                        li
                            a(href="catalog.html") Складные ножи
                        li
                            a(href="catalog.html") Кухонные ножи и наборы
                        li
                            a(href="catalog.html") Топорики
                        li
                            a(href="catalog.html") Метательные ножи
                        li
                            a(href="catalog.html") Авторские ножи
                        li
                            a(href="catalog.html") Аксессуары
                        li
                            a(href="catalog.html") Точила и инструменты
                        li
                            a(href="catalog.html") Сделай нож сам

                .footer__col._w16
                    a.footer__list-title(href="index.html") Покупателям
                        span.arrow-triangle._down
                    ul.footer__list
                        li
                            a(href="get-order.html") Оформить заказ
                        li
                            a(href="payment.html") Оплата
                        li
                            a(href="delivery.html") Доставка
                        li
                            a(href="guarantee.html") Гарантия
                        li
                            a(href="index.html") Отследить заказ

                .footer__col._w16
                    a.footer__list-title(href="index.html") Компания
                        span.arrow-triangle._down
                    ul.footer__list
                        li
                            a(href="about.html") О нас
                        li
                            a(href="articles.html") Статьи
                        li
                            a(href="video.html") Видеообзоры
                        li
                            a(href="wholesale.html") Оптом
                        li
                            a(href="cooperation.html") Сотрудничество
                        li
                            a(href="contacts.html") Контакты

                .footer__col._w25._mobile-border
                    .footer__contact
                        a.footer__contact-value(href="tel:+78005553535") +7 800 555-35-35
                        .footer__contact-text бесплатно по РФ

                    .footer__contact
                        a.footer__contact-value(href="tel:+78005553535") +7 800 555-35-35
                        .footer__contact-text написать в <a href="https://api.whatsapp.com/send?phone=78005553535" class="footer__contact-link" target="_blank" rel="nofollow">WhatsApp</a>

                    .footer__contact
                        a.footer__contact-value(href="mailto:info@knives.ru") info@knives.ru
                        .footer__contact-text вопросы и предложения

                    button.footer__button(type="button" data-src="#modal-question" data-fancybox) Задайте ваш вопрос

                .footer__col._w25
                    .subscribe
                        .subscribe__title Подпишись на рассылку

                        form.form(action="#" method="post")
                            fieldset.form__fieldset._mb0
                                input.form__input(type="email" name="email" id="subscribe-email" placeholder="Ваш email")
                                label.form__label(for="subscribe-email") Ваш email
                                button.form__clear(type="button")

                    .footer__social
                        a(href="https://yandex.ru" target="_blank" rel="nofollow")
                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                use(xlink:href="#svg-social-2")

                        a(href="https://yandex.ru" target="_blank" rel="nofollow")
                            svg(width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                use(xlink:href="#svg-social-3")

                        a(href="https://yandex.ru" target="_blank" rel="nofollow")
                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                use(xlink:href="#svg-social-4")

                    .footer__card
                        svg(width="43" height="35" viewBox="0 0 43 35" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#svg-card-1")

                        svg(width="72" height="21" viewBox="0 0 72 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#svg-card-2")

                        svg(width="67" height="21" viewBox="0 0 67 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#svg-card-3")

                        svg(width="43" height="34" viewBox="0 0 43 34" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#svg-card-4")

            .footer__copyright-cols
                .footer__copyright-col
                    .footer__copyright-text © 2022 KNIVES.RU
                    .footer__copyright-text Все права защищены

                .footer__copyright-col._center
                    a.footer__copyright-link(href="index.html") Политика конфиденциальности
                    a.footer__copyright-link(href="index.html") Договор публичной оферты

                .footer__copyright-col
                    .footer__copyright-text Дизайн и разработка
                    a.footer__copyright-link(href="https://golden-studio.ru/" target="_blank" rel="nofollow") www.golden-studio.ru





