.pagination
    .pagination__empty

    button.pagination__more
        svg(width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg")
            use(xlink:href="#svg-more")
        | Показать еще

    ul.pagination__list
        li 1
        li
            a(href="#") 2
        li
            a(href="#") 3
        li
            a(href="#") 4
        li
            a(href="#") 5
        li
            a(href="#") 6
        li
            //Классы для стрелки влево .pagination__list-arrow.arrow-triangle._left
            a(href="#").pagination__list-arrow.arrow-triangle._right