doctype html
html(lang="ru")
    head
        - var seo = {title: 'О нас', description: 'О нас', keywords: 'О нас'}
        include includes/_meta
    body
        include includes/_header

        main.main
            include includes/_breadcrumbs

            section.section.text._pt0
                .container
                    h1.h1 О нас

                    .text__block
                        p Наш проект был создан в 2020 году, главной целью которого стало объединение ножевой индустрии России в одном крупном маркетплейсе ножей. Создание пространства, где покупатель может общаться напрямую с производителями ножей, создавать заказы, оставлять честные отзывы об изделиях, давать комментарии и предложения о качестве ножей.
                        p Мы тщательно отбираем производителей ножей и предоставляем нашим клиентам лучший выбор по гарантированно низкой цене. Честные отзывы о товаре – делают выбор проще.
                        p В нашей команде работают опытные специалисты ножевой индустрии, талантливые писатели и обзорщики, квалифицированные продажники и много других важных для нас людей. Мы развиваем ножевую индустрию вместе с вами, даем обратную связь производителям и контролируем качество изделий.
                        p Мы рады новым знакомствам и всегда находимся в поиске новых возможностей. В наших ближайших планах – создание и развитие розничной сети в крупных городах России, а также создание онлайн журнала и «умного» форума для ножеманов, где будут обсуждаться все насущные проблемы.

        include includes/_footer

        include includes/_panel

        include includes/_svg

        include includes/_modal

        include includes/_scripts