doctype html
html(lang="ru")
    head
        - var seo = {title: 'Сравнение товаров', description: 'Описание сравнения товаров', keywords: 'Ключи сравнения товаров'}
        include includes/_meta
    body
        - var compareClass = '_active'
        include includes/_header

        main.main
            include includes/_breadcrumbs

            section.section.compare._pt0
                .container
                    .compare__title-wrap
                        h1.h1 Сравнение
                            sup 23 товара

                        button.compare__clear(type="button") <span>Очистить <span class="compare__clear-hidden">сравнение</span></span>
                            span.compare__clear-circle

                    .compare__products-wrap
                        .compare__products.swiper
                            .swiper-wrapper
                                .compare__products-slide.swiper-slide
                                    .product
                                        button.product__remove

                                        .product__labels
                                            .product__label._blue Новинка

                                        .product__col
                                            picture.product__picture
                                                source(type="image/webp" srcset="img/tmp/product-catalog-1@2x.webp 2x, img/tmp/product-catalog-1.webp 1x")
                                                source(type="image/jpeg" srcset="img/tmp/product-catalog-1@2x.jpg 2x, img/tmp/product-catalog-1.jpg 1x")
                                                img(src="img/tmp/product-catalog-1.jpg" alt="" width="296" height="296")

                                            a.product__title(href="product.html") Слайсер с покрытием black fuso

                                        .product__col
                                            .stars
                                                .stars__icons
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                        .reviews-total__star-half
                                                            svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                                use(xlink:href="#svg-star")
                                                a.stars__count(href="product.html#product-reviews") 456

                                            .product__offer
                                                .product__prices
                                                    .product__price 1 496 ₽
                                                    .product__price._old-price 1 870 ₽
                                                //Класс _false для нет в наличии
                                                .product__available._true В наличии

                                            .product__controls
                                                form.product__cart
                                                    button(type="submit")
                                                        span._desktop Добавить в корзину
                                                        span._mobile В корзину

                                                .product__modules
                                                    //Класс _active для активной кнопки
                                                    button.product__module(type="button")
                                                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-favourite")

                                .compare__products-slide.swiper-slide
                                    .product
                                        button.product__remove

                                        .product__labels
                                            .product__label._blue Новинка

                                        .product__col
                                            picture.product__picture
                                                source(type="image/webp" srcset="img/tmp/product-catalog-1@2x.webp 2x, img/tmp/product-catalog-1.webp 1x")
                                                source(type="image/jpeg" srcset="img/tmp/product-catalog-1@2x.jpg 2x, img/tmp/product-catalog-1.jpg 1x")
                                                img(src="img/tmp/product-catalog-1.jpg" alt="" width="296" height="296")

                                            a.product__title(href="product.html") Слайсер с покрытием black fuso

                                        .product__col
                                            .stars
                                                .stars__icons
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                        .reviews-total__star-half
                                                            svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                                use(xlink:href="#svg-star")
                                                a.stars__count(href="product.html#product-reviews") 456

                                            .product__offer
                                                .product__prices
                                                    .product__price 1 496 ₽
                                                    .product__price._old-price 1 870 ₽
                                                //Класс _false для нет в наличии
                                                .product__available._true В наличии

                                            .product__controls
                                                form.product__cart
                                                    button(type="submit")
                                                        span._desktop Добавить в корзину
                                                        span._mobile В корзину

                                                .product__modules
                                                    //Класс _active для активной кнопки
                                                    button.product__module(type="button")
                                                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-favourite")

                                .compare__products-slide.swiper-slide
                                    .product
                                        button.product__remove

                                        .product__labels
                                            .product__label._blue Новинка

                                        .product__col
                                            picture.product__picture
                                                source(type="image/webp" srcset="img/tmp/product-catalog-1@2x.webp 2x, img/tmp/product-catalog-1.webp 1x")
                                                source(type="image/jpeg" srcset="img/tmp/product-catalog-1@2x.jpg 2x, img/tmp/product-catalog-1.jpg 1x")
                                                img(src="img/tmp/product-catalog-1.jpg" alt="" width="296" height="296")

                                            a.product__title(href="product.html") Слайсер с покрытием black fuso

                                        .product__col
                                            .stars
                                                .stars__icons
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                        .reviews-total__star-half
                                                            svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                                use(xlink:href="#svg-star")
                                                a.stars__count(href="product.html#product-reviews") 456

                                            .product__offer
                                                .product__prices
                                                    .product__price 1 496 ₽
                                                    .product__price._old-price 1 870 ₽
                                                //Класс _false для нет в наличии
                                                .product__available._true В наличии

                                            .product__controls
                                                form.product__cart
                                                    button(type="submit")
                                                        span._desktop Добавить в корзину
                                                        span._mobile В корзину

                                                .product__modules
                                                    //Класс _active для активной кнопки
                                                    button.product__module(type="button")
                                                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-favourite")

                                .compare__products-slide.swiper-slide
                                    .product
                                        button.product__remove

                                        .product__labels
                                            .product__label._blue Новинка

                                        .product__col
                                            picture.product__picture
                                                source(type="image/webp" srcset="img/tmp/product-catalog-1@2x.webp 2x, img/tmp/product-catalog-1.webp 1x")
                                                source(type="image/jpeg" srcset="img/tmp/product-catalog-1@2x.jpg 2x, img/tmp/product-catalog-1.jpg 1x")
                                                img(src="img/tmp/product-catalog-1.jpg" alt="" width="296" height="296")

                                            a.product__title(href="product.html") Слайсер с покрытием black fuso

                                        .product__col
                                            .stars
                                                .stars__icons
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                        .reviews-total__star-half
                                                            svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                                use(xlink:href="#svg-star")
                                                a.stars__count(href="product.html#product-reviews") 456

                                            .product__offer
                                                .product__prices
                                                    .product__price 1 496 ₽
                                                    .product__price._old-price 1 870 ₽
                                                //Класс _false для нет в наличии
                                                .product__available._true В наличии

                                            .product__controls
                                                form.product__cart
                                                    button(type="submit")
                                                        span._desktop Добавить в корзину
                                                        span._mobile В корзину

                                                .product__modules
                                                    //Класс _active для активной кнопки
                                                    button.product__module(type="button")
                                                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-favourite")

                                .compare__products-slide.swiper-slide
                                    .product
                                        button.product__remove

                                        .product__labels
                                            .product__label._blue Новинка

                                        .product__col
                                            picture.product__picture
                                                source(type="image/webp" srcset="img/tmp/product-catalog-1@2x.webp 2x, img/tmp/product-catalog-1.webp 1x")
                                                source(type="image/jpeg" srcset="img/tmp/product-catalog-1@2x.jpg 2x, img/tmp/product-catalog-1.jpg 1x")
                                                img(src="img/tmp/product-catalog-1.jpg" alt="" width="296" height="296")

                                            a.product__title(href="product.html") Слайсер с покрытием black fuso

                                        .product__col
                                            .stars
                                                .stars__icons
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                        .reviews-total__star-half
                                                            svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                                use(xlink:href="#svg-star")
                                                a.stars__count(href="product.html#product-reviews") 456

                                            .product__offer
                                                .product__prices
                                                    .product__price 1 496 ₽
                                                    .product__price._old-price 1 870 ₽
                                                //Класс _false для нет в наличии
                                                .product__available._true В наличии

                                            .product__controls
                                                form.product__cart
                                                    button(type="submit")
                                                        span._desktop Добавить в корзину
                                                        span._mobile В корзину

                                                .product__modules
                                                    //Класс _active для активной кнопки
                                                    button.product__module(type="button")
                                                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-favourite")

                                .compare__products-slide.swiper-slide
                                    .product
                                        button.product__remove

                                        .product__labels
                                            .product__label._blue Новинка

                                        .product__col
                                            picture.product__picture
                                                source(type="image/webp" srcset="img/tmp/product-catalog-1@2x.webp 2x, img/tmp/product-catalog-1.webp 1x")
                                                source(type="image/jpeg" srcset="img/tmp/product-catalog-1@2x.jpg 2x, img/tmp/product-catalog-1.jpg 1x")
                                                img(src="img/tmp/product-catalog-1.jpg" alt="" width="296" height="296")

                                            a.product__title(href="product.html") Слайсер с покрытием black fuso

                                        .product__col
                                            .stars
                                                .stars__icons
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star._active
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                    .reviews-total__star
                                                        svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-star")
                                                        .reviews-total__star-half
                                                            svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                                use(xlink:href="#svg-star")
                                                a.stars__count(href="product.html#product-reviews") 456

                                            .product__offer
                                                .product__prices
                                                    .product__price 1 496 ₽
                                                    .product__price._old-price 1 870 ₽
                                                //Класс _false для нет в наличии
                                                .product__available._true В наличии

                                            .product__controls
                                                form.product__cart
                                                    button(type="submit")
                                                        span._desktop Добавить в корзину
                                                        span._mobile В корзину

                                                .product__modules
                                                    //Класс _active для активной кнопки
                                                    button.product__module(type="button")
                                                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            use(xlink:href="#svg-favourite")

                            .swiper-pagination.slider-progress
                        .compare__arrows.carousel-arrows
                            button.carousel-arrows__item._prev(type="button")
                                svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-carousel-arrow")
                            button.carousel-arrows__item._next(type="button")
                                svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-carousel-arrow")

                    .compare__param
                        button.compare__param-btn.arrow-triangle._down._active(type="button") Бренд

                        .compare__param-slider.swiper
                            .swiper-wrapper
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide Samura
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide Samura
                                .compare__param-slide.swiper-slide BergHOFF

                    .compare__param
                        button.compare__param-btn.arrow-triangle._down._active(type="button") Длина клинка

                        .compare__param-slider.swiper
                            .swiper-wrapper
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide Samura
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide Samura
                                .compare__param-slide.swiper-slide BergHOFF

                    .compare__param
                        button.compare__param-btn.arrow-triangle._down._active(type="button") Толщина клинка

                        .compare__param-slider.swiper
                            .swiper-wrapper
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide Samura
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide Samura
                                .compare__param-slide.swiper-slide BergHOFF

                    .compare__param
                        button.compare__param-btn.arrow-triangle._down._active(type="button") Сталь

                        .compare__param-slider.swiper
                            .swiper-wrapper
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide Samura
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide Samura
                                .compare__param-slide.swiper-slide BergHOFF

                    .compare__param
                        button.compare__param-btn.arrow-triangle._down._active(type="button") Твердость

                        .compare__param-slider.swiper
                            .swiper-wrapper
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide Samura
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide Samura
                                .compare__param-slide.swiper-slide BergHOFF

                    .compare__param
                        button.compare__param-btn.arrow-triangle._down._active(type="button") Рукоять

                        .compare__param-slider.swiper
                            .swiper-wrapper
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide Samura
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide Samura
                                .compare__param-slide.swiper-slide BergHOFF

                    .compare__param
                        button.compare__param-btn.arrow-triangle._down._active(type="button") Наличие

                        .compare__param-slider.swiper
                            .swiper-wrapper
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide Samura
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide BergHOFF
                                .compare__param-slide.swiper-slide Samura
                                .compare__param-slide.swiper-slide BergHOFF




        include includes/_footer

        - var panelCompareClass = '_active';
        include includes/_panel

        include includes/_svg

        include includes/_modal

        include includes/_scripts