doctype html
html(lang="ru")
    head
        - var seo = {title: 'Сотрудничество', description: 'Описание сотрудничества', keywords: 'Ключи сотрудничества'}
        include includes/_meta
    body
        include includes/_header

        main.main
            include includes/_breadcrumbs

            section.section.text._pt0
                .container
                    h1.h1 Сотрудничество

                    .text__block
                        p Мы рады новым знакомствам и заинтересованы во взаимовыгодном сотрудничестве. Наш коллектив в постоянном режиме поддерживает связь между клиентами и производителями ножей, помогает сделать качество и сервис доступнее. Нам важно, чтобы ни один вопрос - не был пропущен, а замечания – не учтено.
                        p На нашей платформе производители ножей могут найти своих клиентов, получать заказы, вести сервис, отвечать на вопросы и следить за статистикой. Удобная автоматизированная система работы и качественная бесплатная поддержка. Минимальные затраты времени - вы получаете заказ, с готовой транспортной накладной. Остается лишь распечатать ее и отправить товар со своего склада.
                        p Мы ищем ценителей ножевого искусства, умеющих грамотно и интересно рассказать об изделиях. Различные форматы: фото, видео, статьи, тик-ток и т. п.
                        p Мы ищем графических дизайнеров, опытных и духовно близких к оружейному искусству. Удаленная работа и постоянный объем заказов дизайнеру.

                    .text__contacts
                        .text__contacts-title Контакты
                        a.text__contacts-link(href="mailto:info@knives.ru") info@knives.ru
                        a.text__contacts-link(href="tel:+78005555555") 8-800-555-55-55

        include includes/_footer

        include includes/_panel

        include includes/_svg

        include includes/_modal

        include includes/_scripts