.compare {

	&__title-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 25px;

		@media (max-width: 991px) {
			margin-bottom: 15px;
		}

		& h1 {
			margin-bottom: 0 !important;

			@media (max-width: 575px) {
				font-size: 1.1rem;
			}
		}
	}

	&__clear {
		height: 34px;
		border-radius: 10px;
		background: $color_white;
		border: 1px solid $color_grey;
		padding: 0 10px 0 15px;
		font-size: .5rem;
		font-weight: 500;
		display: flex;
		align-items: center;
		text-decoration: none;
		color: $color_black !important;

		@media (max-width: 991px) {
			font-size: .66rem;
		}

		&:hover {
			background: $color_grey;
		}

		&-hidden {
			@media (max-width: 575px) {
				display: none;
			}
		}

		&-circle {
			min-width: 14px;
			max-width: 14px;
			height: 14px;
			background: $color_grey;
			border-radius: 50%;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 10px;

			&::before,
			&::after {
				content: '';
				width: 1px;
				height: 6px;
				background: $color_black;
				position: absolute;
			}

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}
		}
	}

	&__products-wrap {
		position: relative;
		margin-bottom: 15px;

		@media (max-width: 991px) {
			margin-bottom: 15px;
		}
	}

	&__arrows {
		@media (max-width: 991px) {
			display: none;
		}
	}

	&__products {
		margin: 0 0 -40px -15px;
		padding: 0 90px 40px 15px;
		position: relative;

		@media (max-width: 767px) {
			margin: 0;
			padding: 0;
		}

		@media (max-width: 575px) {
			margin: 0 -20px;
		}

		&::after {
			content: '';
			right: 0;
			bottom: 40px;
			top: 0;
			width: 90px;
			z-index: 5;
			background: linear-gradient(270deg, #F1F3F8 0%, rgba(241, 243, 248, 0) 100%);
			position: absolute;

			@media (max-width: 767px) {
				display: none;
			}
		}

		&-slide {
			width: 300px;
			height: unset;

			@media (max-width: 991px) {
				width: 187px;
			}

			@media (max-width: 767px) {
				width: auto;
			}

			&.swiper-slide-active {

				& .product {
					@media (max-width: 575px) {
						border-radius: 0 15px 15px 0;

						& .product__picture {
							margin-left: -15px;

							& img {
								border-radius: 0 15px 0 0;
							}
						}
					}
				}
			}

			&.swiper-slide-next {

				& .product {
					@media (max-width: 575px) {
						border-radius: 15px 0 0 15px;

						& .product__picture {
							margin-right: -15px;

							& img {
								border-radius: 15px 0 0 0;
							}
						}
					}
				}
			}
		}
	}

	&__param {
		background: $color_white;
		border-radius: 15px;
		padding: 12px 15px;
		margin-bottom: 5px;
		position: relative;
		z-index: 2;
		font-size: .83rem;

		@media (max-width: 991px) {
			font-size: 1rem;
		}

		@media (max-width: 575px) {
			margin-left: -20px;
			margin-right: -20px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&-btn {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-weight: 500;
			width: 100%;

			&::after {
				border-width: 2px;
			}

			&._active {
				color: $color_blue;

				&::after {
					transform: rotate(135deg);
					top: 2px;
				}

				& + .compare__param-slider {
					display: block;
				}
			}
		}

		&-slider {
			margin-top: 15px;
			margin-left: -15px;
			padding-left: 15px;
			padding-right: 90px;
			display: none;

			@media (max-width: 767px) {
				padding-right: 0;
			}
		}

		&-slide {
			width: 300px;
			font-weight: 600;

			@media (max-width: 991px) {
				width: 187px;
			}

			@media (max-width: 767px) {
				width: auto;
			}
		}
	}
}