.payment {
	&__cols {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px -30px;

		@media (max-width: 767px) {
			margin: 0 0 -15px;
		}
	}

	&__col {
		width: 50%;
		padding: 0 15px;
		margin-bottom: 30px;
		display: flex;
		min-height: 160px;

		@media (max-width: 767px) {
			padding: 0;
			width: 100% !important;
			margin-bottom: 15px;
		}

		&._w25 {
			width: 25%;
		}
	}

	&__item {
		padding: 30px;
		background: $color_grey;
		border-radius: 30px;
		width: 100%;

		&._logo {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__img {
		max-width: 100%;
		max-height: 100%;
	}

	&__title {
		font-weight: bold;
		margin-bottom: 25px;

		@media (max-width: 767px) {
			margin-bottom: 10px;
		}
	}

	&__text {
		font-size: .66rem;

		@media (max-width: 767px) {
			font-size: .77rem;
		}
	}

	&__process {
		display: flex;
		flex-wrap: wrap;
		margin: 60px -15px 0;
		padding-top: 60px;
		border-top: 2px solid $color_grey;

		@media (max-width: 991px) {
			padding-top: 30px;
			margin-left: 0;
			margin-right: 0;
		}

		&-col {
			padding: 0 15px;
			width: 50%;

			@media (max-width: 991px) {
				padding: 0;
				width: 100%;
			}
		}

		&-title {
			font-size: 1.5rem;
			line-height: 120%;
			font-weight: bold;
			margin: 0;

			@media (max-width: 991px) {
				font-size: 1.33rem;
				margin-bottom: 25px;

				& br {
					display: none;
				}
			}
		}
	}
}